<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Product Id="0af49879-3bfa-4ba1-9a31-215e671912d3" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="Oakton" UpgradeCode="b1e5ce9a-5262-4c6f-9ed7-9e915168c46b">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Oakton" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!--<UIRef Id="WixUI_Common" />-->
    <UIRef Id="WixUI_ErrorProgressText"/>
    <UIRef Id="WixUI_Mondo" />

    <Property Id="ApplicationFolderName" Value="$(var.ProductName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">

          <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
          <Component Id="ProductComponent" Guid="f1bcfa46-10b8-467a-a5dc-164354c94030">
            <File Id="$(var.ProductName)EXE" Name="$(var.ProductName).exe" DiskId="1" Source="$(var.ProductBinDir)\$(var.ProductName).exe" KeyPath="yes"/>
            <File Id="fil8A59DD9C371A11E0AE46BE555A40DB68" Source="$(var.ProductBinDir)\$(var.ProductName).exe.config" />
            <File Id="fil8A2C90EE371A11E08545BE555A40DB68" Source="$(var.ProductBinDir)\RemoteServices.dll" />
            <File Id="fil8AE6885A371A11E0884ABE555A40DB68" Source="$(var.ProductBinDir)\Logger.dll" />
            <File Id="fil8FF0608C371A11E08D6BBE555A40DB68" Source="$(var.ProductRootDir)\SQLTemplates\AssertTrans_TEMPLATE.sql"/>
            <File Id="fil91560148371A11E0B574BE555A40DB68" Source="$(var.ProductRootDir)\BatchFiles\ExecuteSQL.bat"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="FileMonitor" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <ComponentRef Id="ProductComponent" />

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
  </Product>
</Wix>