<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RemoteServices.Properties.Settings>
            <setting name="SQLUser" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>Xilater</value>
            </setting>
            <setting name="RemotePOS" serializeAs="String">
                <value>AU20200135P01-G</value>
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value>ts</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>$Upp0rt!</value>
            </setting>
            <setting name="NormalisedStateTries" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DriveLetter" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="SyBaseServiceName" serializeAs="String">
                <value>IBS_gds_db</value>
            </setting>
            <setting name="RemoteFSPath" serializeAs="String">
                <value>GSS\AutomatedTesting</value>
            </setting>
            <setting name="NotificationFile" serializeAs="String">
                <value>Handball.txt</value>
            </setting>
            <setting name="LocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoomerangFile" serializeAs="String">
                <value>CleansedActualsData.txt</value>
            </setting>
            <setting name="TransactionAssertionTemplateFile" serializeAs="String">
                <value>AssertTrans_TEMPLATE.sql</value>
            </setting>
            <setting name="TransactionAssertionConcreteFile" serializeAs="String">
                <value>AssertTrans.sql</value>
            </setting>
            <setting name="RawActualsFile" serializeAs="String">
                <value>ActualsData.txt</value>
            </setting>
        </RemoteServices.Properties.Settings>
    </applicationSettings>
</configuration>